In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
with open('../data/k2pandc_2025.10.03_13.31.02.csv') as k2panda:
    k2panda_df = pd.read_csv(k2panda)
k2panda_df

,pl_name,hostname,default_flag,disposition,disp_refname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,BD+20 594 b,BD+20 594,0,CONFIRMED,Espinoza et al. 2016,1,1,Transit,2016,K2,...,-0.012,9.368,0.018,-0.018,10.86440,0.000249,-0.000249,2018-04-25,2018-03,2018-02-15
1,BD+20 594 b,BD+20 594,0,CONFIRMED,Espinoza et al. 2016,1,1,Transit,2016,K2,...,-0.012,9.368,0.018,-0.018,10.86440,0.000249,-0.000249,2018-04-25,2016-10,2016-07-28
2,BD+20 594 b,BD+20 594,1,CONFIRMED,Espinoza et al. 2016,1,1,Transit,2016,K2,...,-0.012,9.368,0.018,-0.018,10.86440,0.000249,-0.000249,2018-04-25,2017-03,2018-04-26
3,EPIC 201111557.01,EPIC 201111557,1,CANDIDATE,Livingston et al. 2018,1,0,Transit,2018,K2,...,-0.046,9.220,0.019,-0.019,11.39950,0.001307,-0.001307,2018-08-02,2018-08,2018-08-02
4,EPIC 201111557.01,EPIC 201111557,0,CANDIDATE,Livingston et al. 2018,1,0,Transit,2018,K2,...,-0.046,9.220,0.019,-0.019,11.39950,0.001307,-0.001307,2018-02-15,2018-03,2018-02-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,WASP-85 A b,WASP-85 A,0,CONFIRMED,Mo&#x10D;nik et al. 2016,2,1,Transit,2016,K2,...,-0.010,8.733,0.026,-0.026,10.62410,0.000959,-0.000959,2019-09-05,2019-09,2019-09-05
4000,Wolf 503 b,Wolf 503,1,CONFIRMED,Peterson et al. 2018,1,1,Transit,2018,K2,...,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2022-05-23,2021-12,2022-05-23
4001,Wolf 503 b,Wolf 503,0,CONFIRMED,Peterson et al. 2018,1,1,Transit,2018,K2,...,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2018-09-04,2018-11,2018-09-06
4002,Wolf 503 b,Wolf 503,0,CONFIRMED,Peterson et al. 2018,1,1,Transit,2018,K2,...,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2023-04-17,2023-04,2023-04-17
4003,Wolf 503 b,Wolf 503,0,CONFIRMED,Peterson et al. 2018,1,1,Transit,2018,K2,...,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2025-09-17,2017-07,2025-08-28

In [49]:
np.where(pd.isnull(k2panda_df.iloc[0]))

(array([17, 18, 19, 20, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
        42, 43, 44, 45, 46, 47, 48, 49, 52]),)

In [50]:
k2panda_df.count()

pl_name           4004
hostname          4004
default_flag      4004
disposition       4004
disp_refname      4004
                  ...
sy_gaiamagerr1    3948
sy_gaiamagerr2    3948
rowupdate         4004
pl_pubdate        4004
releasedate       4004
Length: 94, dtype: int64

In [51]:
cols = k2panda_df.columns[k2panda_df.isnull().any()]
for col in cols:
    if k2panda_df[col].count() < (0.1 * k2panda_df.shape[0]):
        print(col, k2panda_df[col].count())
        k2panda_df = k2panda_df.drop(col, axis=1)

pl_bmasseerr1 393
pl_bmasseerr2 393
pl_bmassjerr1 393
pl_bmassjerr2 393
pl_orbeccenerr1 226
pl_orbeccenerr2 226

In [52]:
k2panda_df.drop(['pl_name', 'hostname', 'default_flag', 'disp_refname', 'pl_refname', 'releasedate', 'pl_pubdate', 'rowupdate', 'soltype', 'disc_year'], axis=1, inplace=True)

In [54]:
k2panda_df[k2panda_df.isna().any(axis=1)]

,disposition,sy_snum,sy_pnum,discoverymethod,disc_facility,pl_controv_flag,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
0,CONFIRMED,1,1,Transit,K2,0,41.688644,0.003353,-0.003419,0.0,...,-1.2400,10.849,0.012,-0.012,9.368,0.018,-0.018,10.86440,0.000249,-0.000249
1,CONFIRMED,1,1,Transit,K2,0,41.685500,0.003000,-0.003100,0.0,...,-1.2400,10.849,0.012,-0.012,9.368,0.018,-0.018,10.86440,0.000249,-0.000249
2,CONFIRMED,1,1,Transit,K2,0,41.685500,0.003000,-0.003000,0.0,...,-1.2400,10.849,0.012,-0.012,9.368,0.018,-0.018,10.86440,0.000249,-0.000249
3,CANDIDATE,1,0,Transit,K2,0,2.301830,0.000280,-0.000300,0.0,...,-0.4598,11.727,0.046,-0.046,9.220,0.019,-0.019,11.39950,0.001307,-0.001307
4,CANDIDATE,1,0,Transit,K2,0,2.302368,0.000105,-0.000103,0.0,...,-0.4598,11.727,0.046,-0.046,9.220,0.019,-0.019,11.39950,0.001307,-0.001307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,CONFIRMED,2,1,Transit,K2,0,2.655676,0.000002,-0.000002,0.0,...,-1.2080,10.720,0.010,-0.010,8.733,0.026,-0.026,10.62410,0.000959,-0.000959
4000,CONFIRMED,1,1,Transit,K2,0,6.001270,0.000021,-0.000021,0.0,...,-0.0961,10.270,0.030,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337
4001,CONFIRMED,1,1,Transit,K2,0,6.001180,0.000080,-0.000110,0.0,...,-0.0961,10.270,0.030,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337
4002,CONFIRMED,1,1,Transit,K2,0,6.001270,0.000021,-0.000021,0.0,...,-0.0961,10.270,0.030,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337
4003,CONFIRMED,1,1,Transit,K2,0,NaN,NaN,NaN,NaN,...,-0.0961,10.270,0.030,-0.030,7.617,0.023,-0.023,9.89816,0.000337,-0.000337

In [58]:
cols = k2panda_df.columns[k2panda_df.isnull().any()]
for col in cols:
    print(col, k2panda_df[col].count())

pl_orbper 3960
pl_orbpererr1 3071
pl_orbpererr2 3071
pl_orbperlim 3960
pl_orbsmax 820
pl_orbsmaxerr1 813
pl_orbsmaxerr2 813
pl_orbsmaxlim 820
pl_rade 3173
pl_radeerr1 2887
pl_radeerr2 2887
pl_radelim 3173
pl_radj 3173
pl_radjerr1 2887
pl_radjerr2 2887
pl_radjlim 3173
pl_bmasse 435
pl_bmasselim 435
pl_bmassj 435
pl_bmassjlim 435
pl_bmassprov 435
pl_orbeccen 429
pl_orbeccenlim 429
pl_insol 630
pl_insolerr1 447
pl_insolerr2 447
pl_insollim 630
pl_eqt 854
pl_eqterr1 685
pl_eqterr2 685
pl_eqtlim 854
st_refname 3988
st_spectype 437
st_teff 2892
st_tefferr1 2584
st_tefferr2 2578
st_tefflim 2892
st_rad 3874
st_raderr1 3242
st_raderr2 3236
st_radlim 3874
st_mass 2102
st_masserr1 1946
st_masserr2 1940
st_masslim 2102
st_met 1698
st_meterr1 1667
st_meterr2 1667
st_metlim 1698
st_metratio 1695
st_logg 2356
st_loggerr1 2143
st_loggerr2 2143
st_logglim 2356
sy_dist 3879
sy_disterr1 3748
sy_disterr2 3748
sy_vmag 3962
sy_vmagerr1 3962
sy_vmagerr2 3962
sy_kmag 3981
sy_kmagerr1 3973
sy_kmagerr2 3973
sy_gaiamag 3948
sy_gaiamagerr1 3948
sy_gaiamagerr2 3948